#include "resourceAcceleratorTable.h"

IDR_ACCEL1 ACCELERATORS
{
    0x01,   ID_BUTTON_L, VIRTKEY
    0x02,   ID_BUTTON_R, VIRTKEY

    0x41,   ID_LETTER_A,    VIRTKEY //A key
    0x42,   ID_LETTER_B,    VIRTKEY //B key
    0x43,   ID_LETTER_C,    VIRTKEY //C key
    0x44,   ID_LETTER_D,    VIRTKEY //D key
    0x45,   ID_LETTER_E,    VIRTKEY //E key
    0x46,   ID_LETTER_F,    VIRTKEY //F key
    0x47,   ID_LETTER_G,    VIRTKEY //G key
    0x48,   ID_LETTER_H,    VIRTKEY //H key
    0x49,   ID_LETTER_I,    VIRTKEY //I key
    0x4A,   ID_LETTER_J,    VIRTKEY //J key
    0x4B,   ID_LETTER_K,    VIRTKEY //K key
    0x4C,   ID_LETTER_L,    VIRTKEY //L key
    0x4D,   ID_LETTER_M,    VIRTKEY //M key
    0x4E,   ID_LETTER_N,    VIRTKEY //N key
    0x4F,   ID_LETTER_O,    VIRTKEY //O key
    0x50,   ID_LETTER_P,    VIRTKEY //P key
    0x51,   ID_LETTER_Q,    VIRTKEY //Q key
    0x52,   ID_LETTER_R,    VIRTKEY //R key
    0x53,   ID_LETTER_S,    VIRTKEY //S key
    0x54,   ID_LETTER_T,    VIRTKEY //T key
    0x55,   ID_LETTER_U,    VIRTKEY //U key
    0x56,   ID_LETTER_V,    VIRTKEY //V key
    0x57,   ID_LETTER_W,    VIRTKEY //W key
    0x58,   ID_LETTER_X,    VIRTKEY //X key
    0x59,   ID_LETTER_Y,    VIRTKEY //Y key
    0x5A,   ID_LETTER_Z,    VIRTKEY //Z key

    0x41,   ID_LETTER_CTRL_A,    VIRTKEY,   CONTROL //CONTROL A key
    0x42,   ID_LETTER_CTRL_B,    VIRTKEY,   CONTROL //CONTROL B key
    0x43,   ID_LETTER_CTRL_C,    VIRTKEY,   CONTROL //CONTROL C key
    0x44,   ID_LETTER_CTRL_D,    VIRTKEY,   CONTROL //CONTROL D key
    0x45,   ID_LETTER_CTRL_E,    VIRTKEY,   CONTROL //CONTROL E key
    0x46,   ID_LETTER_CTRL_F,    VIRTKEY,   CONTROL //CONTROL F key
    0x47,   ID_LETTER_CTRL_G,    VIRTKEY,   CONTROL //CONTROL G key
    0x48,   ID_LETTER_CTRL_H,    VIRTKEY,   CONTROL //CONTROL H key
    0x49,   ID_LETTER_CTRL_I,    VIRTKEY,   CONTROL //CONTROL I key
    0x4A,   ID_LETTER_CTRL_J,    VIRTKEY,   CONTROL //CONTROL J key
    0x4B,   ID_LETTER_CTRL_K,    VIRTKEY,   CONTROL //CONTROL K key
    0x4C,   ID_LETTER_CTRL_L,    VIRTKEY,   CONTROL //CONTROL L key
    0x4D,   ID_LETTER_CTRL_M,    VIRTKEY,   CONTROL //CONTROL M key
    0x4E,   ID_LETTER_CTRL_N,    VIRTKEY,   CONTROL //CONTROL N key
    0x4F,   ID_LETTER_CTRL_O,    VIRTKEY,   CONTROL //CONTROL O key
    0x50,   ID_LETTER_CTRL_P,    VIRTKEY,   CONTROL //CONTROL P key
    0x51,   ID_LETTER_CTRL_Q,    VIRTKEY,   CONTROL //CONTROL Q key
    0x52,   ID_LETTER_CTRL_R,    VIRTKEY,   CONTROL //CONTROL R key
    0x53,   ID_LETTER_CTRL_S,    VIRTKEY,   CONTROL //CONTROL S key
    0x54,   ID_LETTER_CTRL_T,    VIRTKEY,   CONTROL //CONTROL T key
    0x55,   ID_LETTER_CTRL_U,    VIRTKEY,   CONTROL //CONTROL U key
    0x56,   ID_LETTER_CTRL_V,    VIRTKEY,   CONTROL //CONTROL V key
    0x57,   ID_LETTER_CTRL_W,    VIRTKEY,   CONTROL //CONTROL W key
    0x58,   ID_LETTER_CTRL_X,    VIRTKEY,   CONTROL //CONTROL X key
    0x59,   ID_LETTER_CTRL_Y,    VIRTKEY,   CONTROL //CONTROL Y key
    0x5A,   ID_LETTER_CTRL_Z,    VIRTKEY,   CONTROL //CONTROL Z key

    0x41,   ID_LETTER_SHIFT_A,    VIRTKEY,   SHIFT //SHIFT A key
    0x42,   ID_LETTER_SHIFT_B,    VIRTKEY,   SHIFT //SHIFT B key
    0x43,   ID_LETTER_SHIFT_C,    VIRTKEY,   SHIFT //SHIFT C key
    0x44,   ID_LETTER_SHIFT_D,    VIRTKEY,   SHIFT //SHIFT D key
    0x45,   ID_LETTER_SHIFT_E,    VIRTKEY,   SHIFT //SHIFT E key
    0x46,   ID_LETTER_SHIFT_F,    VIRTKEY,   SHIFT //SHIFT F key
    0x47,   ID_LETTER_SHIFT_G,    VIRTKEY,   SHIFT //SHIFT G key
    0x48,   ID_LETTER_SHIFT_H,    VIRTKEY,   SHIFT //SHIFT H key
    0x49,   ID_LETTER_SHIFT_I,    VIRTKEY,   SHIFT //SHIFT I key
    0x4A,   ID_LETTER_SHIFT_J,    VIRTKEY,   SHIFT //SHIFT J key
    0x4B,   ID_LETTER_SHIFT_K,    VIRTKEY,   SHIFT //SHIFT K key
    0x4C,   ID_LETTER_SHIFT_L,    VIRTKEY,   SHIFT //SHIFT L key
    0x4D,   ID_LETTER_SHIFT_M,    VIRTKEY,   SHIFT //SHIFT M key
    0x4E,   ID_LETTER_SHIFT_N,    VIRTKEY,   SHIFT //SHIFT N key
    0x4F,   ID_LETTER_SHIFT_O,    VIRTKEY,   SHIFT //SHIFT O key
    0x50,   ID_LETTER_SHIFT_P,    VIRTKEY,   SHIFT //SHIFT P key
    0x51,   ID_LETTER_SHIFT_Q,    VIRTKEY,   SHIFT //SHIFT Q key
    0x52,   ID_LETTER_SHIFT_R,    VIRTKEY,   SHIFT //SHIFT R key
    0x53,   ID_LETTER_SHIFT_S,    VIRTKEY,   SHIFT //SHIFT S key
    0x54,   ID_LETTER_SHIFT_T,    VIRTKEY,   SHIFT //SHIFT T key
    0x55,   ID_LETTER_SHIFT_U,    VIRTKEY,   SHIFT //SHIFT U key
    0x56,   ID_LETTER_SHIFT_V,    VIRTKEY,   SHIFT //SHIFT V key
    0x57,   ID_LETTER_SHIFT_W,    VIRTKEY,   SHIFT //SHIFT W key
    0x58,   ID_LETTER_SHIFT_X,    VIRTKEY,   SHIFT //SHIFT X key
    0x59,   ID_LETTER_SHIFT_Y,    VIRTKEY,   SHIFT //SHIFT Y key
    0x5A,   ID_LETTER_SHIFT_Z,    VIRTKEY,   SHIFT //SHIFT Z key

    0x25, ID_ARROW_LEFT, VIRTKEY
    0x26, ID_ARROW_UP, VIRTKEY
    0x27, ID_ARROW_RIGHT, VIRTKEY
    0x28, ID_ARROW_DOWN, VIRTKEY
}